body{
    color: #022728;
}

header{
    width: auto;
    background-color:rgb(111, 239, 109);
    padding: 1px;
    padding-left: 5px;
}

#Indice{
    display: block;
    border: 5px double #022728;
}

p{
    text-align: justify;
}

img{
    margin: auto;
    display: block;
}

.OrganizarTexto{
    margin-left: 5px;
}

a:link {
    color: #365250;
}

a:visited {
    color: #365250;
}
  
a:hover {
    color: #8021D1;
}
  
a:active {
    color: blue;
}